<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <style type="text/css">
        td{
            text-align:center;
            width: 100px;
            height: auto;
        }
        .tab0{
            width: 500px;
            height:auto;
            /*background-color: orange;*/
            /*position: relative;*/
            position: absolute;
            top: 20%;
            left: 50%;
            margin-top:auto;
            margin-left: -250px;
        }

    </style>
    <title>展示</title>
</head>
<body>
    <table class="tab0" border="1">
        <!-- <tr>
            <th>编号</th>
            <th>名称</th>
            <th>类别</th>
            <th>安全等级</th>
            <th>测评等级</th>
        </tr>
        <tr>
            <td><p th:text="${inform0}"></p></td>
            <td><p th:text="${inform1}"></p></td>
            <td><p th:text="${inform2}"></p></td>
            <td><p th:text="${inform3}"></p></td>
            <td><p th:text="${inform4}"></p></td>
        </tr>
        <tr>
            <th colspan="5"><p th:text="${information}"></p></th>
        </tr> -->
        <tr>
            <td><a href="/index/insert">增加</a></td>
            <td><a href="/index/delete">删除</a></td>
            <td><a href="/index/query">查询</a></td>
            <td><a href="/index/update">修改</a></td>            
        </tr>
    </table>
</body>
</html>