<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <style type="text/css">
        td{
            text-align:center;
            width: 100px;
            height: auto;
        }
        .tab0{
            width: 500px;
            height:auto;
            /*background-color: orange;*/
            /*position: relative;*/
            position: absolute;
            top: 20%;
            left: 50%;
            margin-top:auto;
            margin-left: -250px;
        }

    </style>
    <title>展示</title>
</head>
<body>
    <table class="tab0" border="1">
        
        <tr>
            <td><a href="/insert">增加</a></td>
            <td><a href="/delete">删除</a></td>
            <td><a href="/query">查询</a></td>
            <td><a href="/update">修改</a></td>            
        </tr>
    </table>
</body>
</html>